@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap);
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* primary variables */
:root {

    --primary: #5680E9;

    --secondary: #84CEEB;
    --white: #ffffff;
    --blue: #558C8C;
    --purple: #82204A;
    --dark: #1d2229;
    --grey: #aaaaab;
    --lightGrey: #2c323a;
}

a:hover {
    color: #fff !important;
}

body {
    
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 95%;
    margin: 0 auto;

}

/* navbar */

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow-x: hidden;

}

/* nav child */
nav>div {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .8em 0;
}


/* navbar logo */
.logo {
    display: flex;
    align-items: center;
    height: 3rem;
    column-gap: 10px;
}

.logo img {
    height: 100%;
}

/* logo text */


/* end of logo text */
/* .logo h3{
    font
} */
.logo p {
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;

}
.logo h3{
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;

}
/* end of navbar logo */




/* desktop links  */
.desktop-links {
    display: none;
}

/* end of desktop links */


/* mobile menu */

.hamburger {
    font-size: 2em;
}

/* end of navbar */

/* end of mobile menu */


/* mobile links */
#nav {
    background: linear-gradient(to right, rgba(86, 128, 233, 0.55), rgba(132, 206, 235, 0.5));
    
}

.mobile-links {
    display: flex;
    flex-direction: column;
    padding: 0em 2.5em;
    
    row-gap: 20px;
    align-items: flex-start;
    transform: scale(1) translate(0);
    transition: .5s all ease-in-out;
    width: 100%;


}

.hide-menu {
    transform: scale(0) translate(90%);
    height: 0;

}

.mobile-links a {
    color: var(--white);
    font-size: 1.1em;
    letter-spacing: 2px;
}


/*? swipper */



.hero {
    margin: 1em 0 5em;
    margin-top: -4px;
}


.content {
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);

    padding: 0 2em;
    position: relative;
}


.content h1 {
    
    font-size: 1.3em;
    padding: 0 1em;
    font-weight: 700;
    opacity: 0.55;
    font-family: 'Poppins', sans-serif;
}




/*end of swiper*/

/* start of about us */
#aboutus {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: -80px;
    background: linear-gradient(to right, rgba(86, 128, 233, 0.55), rgba(132, 206, 235, 0.5));
}

.container1 {
    margin: 10px;
    
    
}

.container1>h1 {
    font-size: 50px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.container1>p {
    color: var(--white);
    font-size: larger;
    font-weight: 500;
    margin-top: 1.2rem;
}

.container2>img {

    height: auto;
    width: 100%;
    margin-bottom: 20%;
}

.btn-rounded {
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 600;
    margin-top: 25px;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    border-radius: 50px;
}

.btn-rounded span {
    position: absolute;
    background-color: #5AB9EA;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.btn-rounded span i {
    color: #fff;
    font-size: 1rem;
    line-height: 2.5rem;
}

.btn-rounded:hover {
    background: linear-gradient(to right, rgba(86, 128, 233, 0.55), rgba(132, 206, 235, 0.5));
    color: #fff;
}

/* end of about us  */
/* start of commitment  */
#commitment{
    height: auto;
    width: auto;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    
}
#commitment h1{
    
    color: var(--primary);
    font-size: 35px;
    margin-bottom: 40px;

}
#commitment h1:hover{
    color: var(--secondary);
}
#commitment ul li{
    display: flex;
    flex-direction: row;
    
}
#commitment ul li .fa-solid{
    color: var(--primary);
    height: auto;
    width: 15%;
    margin: auto;
}
#commitment ul li .fa-solid:hover{
    color: var(--secondary);

}
#commitment ul li .text{
    width: 70%;
    color: var(--purple);
}
#commitment ul li .text p{
    font-size: small;
    padding-bottom: 15px;
    padding-top: 10px;
    color: var(--lightgrey);
}

/* end of commitment  */

/* start of services */

#services{
    width: 100%;
    height: auto;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url(static/pexels-eberhard-grossgasteiger-2088142.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-bottom: 50px;
    background-size:cover;
    margin-bottom: -50px;
	
}

#services div{
    width: 80%;
}

#services .service-content ul li{
    margin-top: 30px;

    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  padding: 20px 20px 15px 15px;
  
  border-radius: .9em;
   
    
    
}
#services .service-content ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  }
#services .service-content ul li p{
    color: var(--lightgrey);
}
#services .service-content ul li h2{
    color: var(--purple);
}
#services .heading h1{
    margin-top: 30px;
    display: flex;
    
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    color: var(--primary);
}
#services .heading h1:hover{
    color: var(--secondary);
}
#services ul img{
    height: 200px;
    width: 250px;
}

/* end of services  */
/* start of banner  */
.banner ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner ul li img{
    margin-top: 20px;
    height: 0.1px;
    width: 1%;
}

.banner .fb-page{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* end of banner  */

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
    width: 100%;
    margin-bottom: 100px;
    background: url(static/sergey-pesterev-JV78PVf3gGI-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    padding-top: 70px;
    margin-top:-115px;
    padding-bottom: 30px;
    margin-bottom: -50px;
  
  }
  #testimonials .swiper-wrapper{
      align-items: center;
  }
  .testimonial-heading {
  
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  
  .testimonial-heading h1 {
    font-size: 40px;
    padding: 10px 20px;
    font-weight: 700;
    color: var(--white);
  }
  .testimonial-heading h1:hover{
      color: var(--secondary);
  }
  
  
  #testimonials .testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    align-self: center;
  }
 
  
  #testimonials .testimonial-box-container .testimonial-box {
    width: 550px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
  
  }
  
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
  
  }
  
  .profile {
    display: flex;
    align-items: center;
  
  }
  
  .name-user {
    display: flex;
    flex-direction: column;
  
  }
  
  .name-user strong {
    color: #3d3d3d;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  
  }
  
  .name-user span {
    color: #979797;
    font-size: 0.6rem;
  }
  
  .reviews {
    color: #f9d71c;
  
  }
  
  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
  }
  
  /* end of testimonials */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*? footer */

.footer {
     background: linear-gradient(to right, rgba(86, 128, 233, 0.55), rgba(132, 206, 235, 0.5));

  }
.footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    margin: auto;
}

.footer ul li{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
  
.footer ul li i{
   padding: 20px;
   color: #fff;
} 
.footer ul li h1{
    font-size: 14px;
}
  
.copyright {
    
    color: var(--white);
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    line-height: 15px;
    font-size: 0.9em;
}
  
.copyright span {
    color: var(--blue);
}
  
.copyright span a{
    color: inherit;
}
.social-media{
    
    display: flex;
    flex-direction: column;
    color: var(--white);
    justify-content: center;
    align-items: center;
    padding: 20px;
    column-gap: 0px;
}
.social-media a{
    color: var(--white);

}
.social-media p{
    font-size: 18px;
}
.final{
    background-color: var(--dark);
}
  /*? footer */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  
  
@media(min-width:670px) {
    .container {
        max-width: 85%;

    }

    /* navbar */

    nav>div {
        flex-direction: row;
        padding: 1.2em 0;
    }


    /* logo */

    .logo p {
        font-size: 1.2em;
    }

    /* end of logo */




    /* nav links */





    .desktop-links {
        display: flex;
        column-gap: 20px;

    }

    .desktop-links a {
        color: var(--dark);
        font-size: 1.1em;
        letter-spacing: 2px;
    }

    /* end of nav links */

    .hamburger {
        display: none;
    }

    .mobile-links {
        display: none;
    }

    /* end of navbar */

    /*? swipper */




    .content {
        height: 70vh;
    }


    .content h1 {
        font-size: 3em;
    }

    /* swiper end  */
    /* start of aboutus  */
    #aboutus {
        display: flex;
        flex-direction: row;
        padding: 7%;

    }

    .container1>h1 {
        font-size: 4.5em;
    }

    .container1>p {
        font-size: 27px;

    }

    /* end of about us  */
    /* start of commitment  */
   
    
    #commitment ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;

        margin: auto;
    }
    #commitment ul li{
        
        width: 30%;
        padding: 20px;

        
    }
    

    /* end of commitment  */
    
    /* start of services  */
    #services{
        background: url(static/home_agency_section_2-1.jpg);
        background-attachment: fixed;
        margin-top: -337px;
        padding-bottom: 200px;
        
        margin-bottom: -230px;
        
        
    
        
    }
    #services .service-content ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
    
        
    }
    
    #services .heading{
        margin-top: 200px;
        width: 30vw;
        
    
    
        
    }
    #services div{
        width: 80%;
    }
    #services .service-content ul li{
        
    
        box-shadow: none;
      
    }
    #services .service-content ul li{
        margin-top: 30px;
        margin-bottom: 30px;

    
        
       
        
        
    }
    /* end of services  */

    /* start of benner  */
    .banner{
        margin-top: -150px;
        display: flex;
        flex-direction: row;
        width: 85%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        

    }
    .banner .fb-page{
        
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .banner ul{
        margin-left: 50px;
        width: 70%;
    }
    .banner ul li img{
        
        height: 200px;
        width: auto;
        
    }
    
    /* end of banner  */
    /* start of testimonials */
    .testimonial-heading {
  
        margin-top: 80px;
    }
    #testimonials {
        
        padding-top: 300px;
        margin-top: -490px;
        padding-bottom: 200px;
        margin-bottom: -200px;
      
      }
      .testimonial-heading {
  
        margin-bottom: 197px;
        
      }
    /* end of testimonial  */
    /* start of footer  */
    .footer ul{
        flex-direction: row;
    }
    .social-media{
    
        
        flex-direction: row;
        column-gap: 150px;

    }
    /* end of footer  */


}



.hero .swiper-wrapper {
    height: auto;
}